@charset "UTF-8";
/*―ここはトップページ*/
body {
    background-color: rgba(0,0,0,0.8);
    background-image:url('/image/ki.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    font-style: inherit;
    color: gray;
}
/*ログインページのタイトル*/
.center {
    background-color:rgba(72,72,72,50);
    margin-top:100px;
    padding-top:30px;
    padding-bottom:30px;
    color: white;
}



.title1 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 100px;
}

.title2 {
    font-family: 'IM Fell DW Pica SC', serif;
    color: white;
    font-size: 30px;
}

.row {
    background-color:rgba(72,72,72,50);
    margin-top:100px;
    padding-top:30px;
    padding-bottom:30px;
}

/*PLAYERicon画像*/

.glyphicon:hover {
    color: #aa0000;
}

.gryphicon {
    left: 5px;
}

.form-group {
    text-align: left;
}

.form-control { 
    background-color:rgba(72,72,72,50);
    
}

.btn {
    background-color:rgba(72,72,72,50);
    border: solid gray;
    margin-top: 75px;
}
.btn:hover {
    background-color: rgba(255, 255, 255, .2);
}

/*grandrule*/

/*ルール全体*/

.rulepage {
    background-color:rgba(72,72,72,50);
    margin-top:100px;
    padding-top:30px;
    padding-bottom:30px;
    font-size: 30px;
}

ul{
    list-style:none;
}
li .grandrule{
    padding-top:10px;
}
.grandrule{
    color:red;
}

/*user1 page*/

.container{
    text-align:center;
}

.panel-body{
  max-width: 50%;
  margin: 0 auto;
}


/*ユーザーページ*/

.userpages {
    background-color:rgba(72,72,72,50);
    margin-top:100px;
    padding-top:30px;
    padding-bottom:30px;
}

/*nextpagebtn*/
/*.nextpage{*/
    /*background-color:rgba(72,72,72,50);*/
    /*margin-top:100px;*/
    /*padding-top:30px;*/
    /*padding-bottom:30px;*/
    /*position:relative;*/
/*/*/
.nextpagebtn{
   background-color:rgba(72,72,72,50);
    margin-top:100px;
    padding-top:30px;
    padding-bottom:30px;
    position:relative;
}



